/* for variables */

@font-face {
  font-family: "montserrat";
  src: url(../fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}

:root {
  /* BG */
  --primary-bg: linear-gradient(to left, #0f2027, #203a43, #2c5364);

  /* COLORS */
  --primary-color: aliceblue;

  /* FONTS */
  --primary-font: "montserrat";
  /* PADDINGS */
  --padding-xl: 3rem;
  --padding-l: 2rem;
  --padding-m: 1rem;
  --padding-s: .5rem;

  /* MARGINS */
  --margin-xl: 3rem;
  --margin-l: 2rem;
  --margin-m: 1rem;
  --margin-s: .5rem;

  /* font-size */
  --font-size-xl: 3rem;
  --font-size-l: 2rem;
  --font-size-m: 1rem;
  --font-size-s: .5rem;
}